
h1 {
		color: darkorchid;
		font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}

	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 100px;
		height: 72px;
		margin: auto;
		border-radius: 10px;
		font-size: 30px;
		text-align: center;
    border: none;
	}
  body{
    background-color: rgb(14, 1, 41);
  }
  span{
    color: green;
  }
  .span1{
    color: red;
  }

	/* Reset Button */
	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid dodgerblue;
		margin: auto;
		border-radius: 4px;
	font-family: cursive;
		background-color: dodgerblue;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	/* Player turn space */
	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: dodgerblue;
		font-size: 20px;
	}

	/* Main Container */
	#main {
		text-align: center;
	}

	#ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: dodgerblue;
		font-size: 17px;
	}
  